@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 350px;
  height: 575px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Hide the scrollbar for all elements */
body,
html {
  overflow-y: scroll; /* Ensures content can still scroll */
  scrollbar-width: none; /* For Firefox */
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}