@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent body from scrolling */
  overscroll-behavior: none; /* Prevent bouncing effect on mobile */
  touch-action: none; /* Prevent default touch scrolling behavior */  
}


body {
  width: 350px;
  height: 600px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Hide the scrollbar for all elements */
body,
html {
  overflow-y: scroll; /* Allows content to scroll if necessary */
  scrollbar-width: none; /* For Firefox */
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, Edge */
}

html {
  -ms-overflow-style: none; /* Hide scrollbar in IE */
}

/* For any scrollable elements inside */
.scrollable-element {
  overflow-y: auto;
  overscroll-behavior: contain; /* Prevent overscroll bounce */
  max-height: 100%;
}


